<!--MODAL para Agregar un Terapeuta-->
<div class="modal fade" id={{terapeuta.id}} role="dialog">
  <div class="modal-dialog">

    <!--Contenido del modal-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ingreso de Datos Personales del Terapeuta</h4>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #FestividadFormulario="ngForm" nonvalidate>
          <label class="user">La cédula es el usuario</label>
          <div class="form-group">
            <p>
              <label class="labelGT">Cédula:</label>
              <input class="inputGT" required maxlength="10"
                     placeholder="Ingrese la cédula" name="cedulaTerapeuta" type="text"
                     [(ngModel)]="terapeuta.cedula"
                     #cedulaTerapeuta="ngModel"
              />
              <span *ngIf="!cedulaTerapeuta.valid && cedulaTerapeuta.touched">
                   <br> La cédula es obligatoria
                  </span>
            </p>
            <p>
              <label class="labelGT">Nombre:</label>
              <input class="inputGT" required maxlength="60"
                     placeholder="Ingrese el nombre" name="nombreTerapeuta" type="email"
                     [(ngModel)]="terapeuta.direccion"
                     #nombreTerapeuta="ngModel"
              />
              <span *ngIf="!nombreTerapeuta.valid && nombreTerapeuta.touched">
                      <br>El nombre es obligatorio
                  </span>
            </p>
            <p>
              <label class="labelGT">Contraseña:</label>
              <input class="inputGT" required minlength="5" maxlength="15"
                     placeholder="Ingrese la contraseña" name="contraseniaTerapeuta" type="password"
                     [(ngModel)]="terapeuta.contrasenia"
                     #contraseniaTerapeuta="ngModel"
              />
              <span *ngIf="!contraseniaTerapeuta.valid && contraseniaTerapeuta.touched && !contraseniaTerapeuta.minLength">
                      <br>La contraseña es obligatoria y debe tener más de 5 caracteres
                  </span>
            </p>
            <p>
              <label class="labelGT">Correo:</label>
              <input class="inputGT" required maxlength="30"
                     placeholder="Ingrese el correo" name="correoTerapeuta" type="email"
                     [(ngModel)]="terapeuta.correo"
                     #correoTerapeuta="ngModel"
              >
              <span *ngIf="!correoTerapeuta.valid && contraseniaTerapeuta.touched">
                      El correo es incorrecto
                  </span>
            </p>
            <label class="labelGT">Dirección:</label>
            <input class="inputGT" required minlength="60"
                   placeholder="Ingrese el correo" name="direccionTerapeuta" type="email"
                   [(ngModel)]="terapeuta.direccion"
                   #direccionTerapeuta="ngModel"
            >
            <label class="labelGT">Celular:</label>
            <input class="inputGT" required maxlength="10"
                   placeholder="Ingrese el correo" name="celularTerapeuta" type="email"
                   [(ngModel)]="terapeuta.celular"
                   #celularTerapeuta="ngModel"
            >
            <input type="submit" value="Aceptar" class="btn btn-primary" [disabled]="!FestividadFormulario.valid"/>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
      </div>

    </div>
  </div>
</div>
