header{
  margin: 25px 15px 0px 15px;
  font-family: Berlin Sans FB, serif;
  font-weight: 600;
  border-bottom: double black;
 }

#img-Encabezado{
  width: 480px;
  height:245px;
  margin-bottom: 30px;
}

.titulo-Encabezado{
  margin-top: 4%;
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  line-height: 120%;
}

.container{
  font-family: Berlin Sans FB, serif;
}

footer{
  border-top: double black;
  margin: 60px 15px 0px 15px;
}

.tituloFooter{
  margin: 25px 0px 8px 0px;
  font-size: 17px;
}
.textFooter{
  font-size: 16px;
}

#linkEPN{
  text-align: right;
}
