<header >
  <div class="row">
    <div class="col-sm-12">
      <h1>Secuencia de Acciones y Comunicación Alternativa</h1></div>
  </div>
</header>

<body>
<div class="row" >
  <div class="col-sm-6">
    <h2>Modo:</h2>
  </div>
  <div class="col-sm-6">
    <select>
      <option value="Administrador">Administrador</option>
      <option value="Terapeuta">Terapeuta</option>
      <option value="Estudiante">Estudiante</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Usuario:</h2>
  </div>
  <div class="col-sm-6">

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Contraseña:</h2>
  </div>
  <div class="col-sm-6">

  </div>
</div>

<div class="row">
  <div class="col-sm-12">

  </div>
</div>

</body>

<footer>

</footer>


