<div class="gestionT">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloGT">Gestión de datos del Terapeuta</h1>
    </div>
  </div>
  <div class="row " id="cuerpoGT">
    <div class="col-sm-5">
      <label class="labelGT">Nombre:</label>
      <input class="inputGT" type="text" name="buscarTerapeuta" placeholder="Ingrese el Nombre del Terapeuta">
    </div>
    <div class="col-sm-3">
      <button id="btnBuscar" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        Buscar
      </button>
    </div>
    <div class="col-sm-4">
      <button id="btnAgregar" class="btn btn-success pull-right" data-toggle="modal" data-target="#agregarTModal">
        <span class="glyphicon glyphicon-plus"> </span>
        Agregar
      </button>
    </div>
    <app-agregar-pop-up [terapeuta]="terapeuta"> </app-agregar-pop-up>
   </div>

  <div class="tablaGT">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let terapeuta of terapeutas ; let indice=index">
          <td>{{indice+1}}</td>
          <td>{{terapeuta.cedula}}</td>
          <td>{{terapeuta.nombre}}</td>
          <td>{{terapeuta.celular}}</td>
          <td>

            <button class="btn btn-info" data-toggle="modal" [attr.data-target]="'#' + terapeuta.id">Ver </button>
            <app-ver-pop-up [idTerapeuta]="terapeuta.id" ></app-ver-pop-up>

            <button class="btn btn-warning" data-toggle="modal" [attr.data-target]="'#' + terapeuta.id">
              <span class="glyphicon glyphicon-pencil"></span>
             </button>
            <app-editar-pop-up [idTerapeuta]="terapeuta.id"></app-editar-pop-up>

            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
