<div class="gestionT">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloGT">Gestión de datos del Terapeuta</h1>
    </div>
  </div>
  <div class="row " id="cuerpoGT">
    <div class="col-sm-5">
      <label class="labelGT">Nombre:</label>
      <input class="inputGT" type="text" name="buscarTerapeuta">
    </div>
    <div class="col-sm-3">
      <button id="btnBuscar" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        Buscar
      </button>
    </div>
    <div class="col-sm-4">
      <button id="btnAgregar" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus"> </span>
        Agregar
      </button>
    </div>
   </div>
  <div id="tablaTerapeuta" class="row">
    <div class="col-sm-3">
      <h3>ID</h3>
    </div>
    <div class="col-sm-3">
      <h3>Cédula</h3>
    </div>
    <div class="col-sm-3">
      <h3>Nombre</h3>
    </div>
    <div class="col-sm-3">
      <h3>Acciones</h3>
    </div>
  </div>
</div>
