.gestionT{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.tituloGT{
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  font-weight: bold;
}

#cuerpoGT{
  margin: 1% 10% 2% 10%;
}

.col-sm-4{
  font-size: 125%;
}

#btnBuscar{
   margin: 5% 0 0 0;
 }

.tablaGT{
  margin: 1% 10% 2% 10%;
  height: 600px;
  overflow-y: auto;
}

.table{
  font-size: 100%;
}




