.gestionT{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 1% 10% 2% 10%;
}
.tituloGT{
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  font-weight: bold;
}

#btnCambiar{
  margin-top: 2%;
}

#btnSiguiente{
  margin-top: 2%;
}

#cuadroNoSecuencial{
  border: 1px solid;
  text-align: center;
}

.col-sm-4{
  width: 30%;
  height: auto;
  margin:2% 0 2% 0;
}
