<div class="gestionE">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloGE">Lista de Estudiantes</h1>
    </div>
  </div>
  <div class="row " id="cuerpoGE">
    <div class="col-sm-5">
      <label class="labelGE">Nombre:</label>
      <input class="inputGE" type="text" name="buscarTerapeuta"
             placeholder="Ingrese el Nombre del Estudiante" [(ngModel)]="busquedaPorNombre"/>
    </div>
    <div class="col-sm-3">
      <button id="btnBuscar" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        Buscar
      </button>
    </div>

  </div>

  <div class="tablaGE">
    <table class="table table-hover">
      <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Nombre del Representante</th>
        <th>Celular del Representante</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of estudiantes | busquedaAsigEst:busquedaPorNombre; let indice=index">
        <td>{{indice+1}}</td>
        <td>{{student.cedula}}</td>
        <td>{{student.nombre}}</td>
        <td>{{student.nombreRepresentante}}</td>
        <td>{{student.celularRepresentante}}</td>
        <td>
          <button class="btn btn-info" data-toggle="modal" (click)="modalVer(indice)" data-target="#verModal">Ver </button>

          <button class="btn btn-warning" data-toggle="modal" (click)="modalasignacionSAModal(indice)" data-target="#asignacionSAModal">
            <span class="glyphicon glyphicon-th"></span>
            SA
          </button>

          <button class="btn btn-success">
            <span class="glyphicon glyphicon-picture" data-toggle="modal" (click)="modalEliminar(indice)" data-target="#eliminarModal"></span>
            CA
          </button>

        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="aux">
      <!--<app-ver-estudiante [estudiante]="estudiante" ></app-ver-estudiante>-->
    </div>
    <div *ngIf="validacionModal">
      <app-asignacion-sa [estudiante]="estudiante"></app-asignacion-sa>
    </div>
    <div *ngIf="aux">
      <!--<app-eliminar-estudiante [estudiante]="estudiante" (eliminarEstudiantes)="presentacionActualizadaEliminar($event)"></app-eliminar-estudiante>-->
    </div>
  </div>
</div>
