<div class="gestionT" *ngIf="volver">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="tituloGT">Contenido Campo Semántico</h3>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA1" alt=""></button>
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA2" alt=""></button>
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA3" alt=""></button>
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA4" alt=""></button>
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA5" alt=""></button>
    <button class="btn btn-default" (click)="envioImg1()"><img [src]="imgCA6" alt=""></button>
  </div>
  <br>

</div>

